doctype html 
html
  head
    title Roshan Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/logo.jpg", alt="")
            li #[a(href="/") Home] 
            li #[a(href="/") About ]
            li #[a(href="/") Services ]    
            li #[a(href="/") Academy info ]
            li #[a(href="/contact") Contact us ]
    block content
    footer#footer
        | Copyright © 2022 RoshanAcademy.com | All Rights Reserved         