extends base.pug 

block scripts 
    script(src="/static/script.js") 

block style 
    style 
       include ../static/style.css
       
block content 
    
    section#introSection 
        div Welcome to Roshan's Dance Academy
        div.small Dance With Soul

    section#missionSection  
        h2 Our Mission 
        div.card
            h3 Dance Perfection
        
                
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
        
                
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
        
                

                div.card-content
                    p This is the best dance academy of the universe 

    section#sponserSection 
        h2 Our Sponsors
        div#sponsors
          img(src= "/static/Client 1.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/Client 2.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/Client 4.png", alt= "Sponsor Image", class= "spImage")     